<div class="row">
    <div class="col-12">
        <h1>Aankomende <span class="title-blue">concerten</span></h1>
    </div>
    <div class="col-12 my-5 table-responsive">
        <table class="table table-striped custom-table-responsive">
            <thead>
                <tr>
                    <th scope="col">Artiest</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Prijs</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let concert of concerts">
                    <td>{{ concert.artist }}</td>
                    <td>{{ concert.startDateTime | date: 'short' }}</td>
                    <td>€{{ concert.price }}</td>
                    <td>
                        <a routerLink="{{ concert.id }}" class="btn create-btn detail-btn"><i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>