<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            Een <span class="title-blue">concert</span> aanmaken
        </h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" class="px-0 px-lg-5" novalidate>
            <div class="form-row">
                <div class="col-12 mb-4 mx-auto">
                    <label for="name" class="mb-1 fw-bold">Naam</label>
                    <input type="text" name="name" class="form-control" id="name" [(ngModel)]="concert.name" #name="ngModel" minlength="3" required />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="name.errors!['required']">Naam is verplicht</div>
                        <div *ngIf="name.errors!['minlength']">
                            Naam moet minimaal 3 karakters lang zijn.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="description" class="mb-1 fw-bold">Omschrijving</label>
                    <textarea name="description" class="form-control" id="description" required [(ngModel)]="concert.description" #description="ngModel" minlength="3" required></textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="description.errors!['required']">
                            Omschrijving is verplicht
                        </div>
                        <div *ngIf="description.errors!['minlength']">
                            Omschrijving moet minimaal 3 karakters lang zijn.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="startDateTime" class="mb-1 fw-bold">Start datum</label>
                    <input type="datetime-local" name="startDateTime" class="form-control" id="startDateTime" required [(ngModel)]="concert.startDateTime" #startDateTime="ngModel" />
                    <div *ngIf="startDateTime.invalid && (startDateTime.dirty || startDateTime.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="startDateTime.errors!['required']">
                            Start datum tijd is verplicht.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="endDateTime" class="mb-1 fw-bold">Eind datum</label>
                    <input type="datetime-local" name="endDateTime" class="form-control" id="endDateTime" required [(ngModel)]="concert.endDateTime" #endDateTime="ngModel" />
                    <div *ngIf="endDateTime.invalid && (endDateTime.dirty || endDateTime.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="endDateTime.errors!['required']">
                            Start datum tijd is verplicht.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="location" class="mb-1 fw-bold">Locatie</label>
                    <input type="text" name="location" class="form-control" id="location" [(ngModel)]="concert.location" #location="ngModel" minlength="3" required />
                    <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="location.errors!['required']">
                            Locatie is verplicht.
                        </div>
                        <div *ngIf="location.errors!['minlength']">
                            Locatie moet minimaal 3 karakters lang zijn.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="artist" class="mb-1 fw-bold">Artiest</label>
                    <input type="text" name="artist" class="form-control" id="artist" [(ngModel)]="concert.artist" #artist="ngModel" minlength="3" required />
                    <div *ngIf="artist.invalid && (artist.dirty || artist.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="artist.errors!['required']">Artiest is verplicht.</div>
                        <div *ngIf="artist.errors!['minlength']">
                            Artiest moet minimaal 3 karakters lang zijn.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="price" class="mb-1 fw-bold">Prijs ticket</label>
                    <input type="number" name="price" class="form-control" step="1" id="price" [(ngModel)]="concert.price" #price="ngModel" min="1" required />
                    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="price.errors!['required']">Prijs is verplicht.</div>
                        <div *ngIf="price.errors!['min']">
                            Prijs moet groter zijn dan 0€.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 mx-auto">
                    <label for="amountTickets" class="mb-1 fw-bold">Aantal tickets</label>
                    <input type="number" name="amountTickets" class="form-control" step="1" id="amountTickets" [(ngModel)]="concert.amountTickets" #amountTickets="ngModel" min="1" required />
                    <div *ngIf="amountTickets.invalid && amountTickets.touched" class="alert alert-danger mt-1">
                        <div *ngIf="amountTickets.errors!['required']">
                            Aantal tickets is verplicht.
                        </div>
                        <div *ngIf="amountTickets.errors!['min']">
                            Aantal tickets moet groter zijn dan 0.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mx-auto mb-3 flex-xl-row flex-column d-flex justify-content-between">
                <a routerLink=".." class="btn primary-btn secondary-btn mt-3"><i class="fa-solid fa-chevron-left"></i> Ga terug</a
        >
        <button
          class="btn primary-btn mt-3"
          [disabled]="!form.valid"
          type="submit"
        >
          Aanmaken <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </form>
  </div>
</div>