<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a [routerLink]="['/genres']" type="button" class="btn primary-btn secondary-btn mt-5"><i class="fa-solid fa-chevron-left"></i> Ga terug</a>
            </div>
            <div class="col-12 my-5 p-5 grey-bg boxing-shadow">
                <div class="row">
                    <h1>Genre <span class="title-blue">Aanmaken</span></h1>
                    <mat-card>
                      <mat-card-content>
                        <form class="formGroup" [formGroup]="genreForm" (ngSubmit)="onSubmit()">
                            <mat-form-field appearance="fill">
                                <mat-label>Genre Naam</mat-label>
                                <input matInput formControlName="name" type="text" />
                                <mat-error *ngIf="genreForm.get('name')?.invalid && genreForm.get('name')?.touched">
                                  <ng-container *ngIf="genreForm.get('name')?.hasError('required')">
                                    Naam is verplicht.
                                  </ng-container>
                                  <ng-container *ngIf="genreForm.get('name')?.hasError('minlength')">
                                    Naam moet minimaal 2 tekens lang zijn.
                                  </ng-container>
                                </mat-error>
                              </mat-form-field>
                            <div *ngIf="errorMessage" class="error-message">
                                {{ errorMessage }}
                            </div>
                          <button mat-raised-button color="primary" type="submit" [disabled]="genreForm.invalid">
                            Aanmaken
                          </button>
                        </form>
                      </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>