<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/avans/" target="_blank"
          ><i id="facebook" class="fa-brands fa-facebook footer-icon"></i
        ></a>
        <a href="https://twitter.com/avanshogeschool" target="_blank"
          ><i id="twitter" class="fa-brands fa-twitter footer-icon"></i
        ></a>
      </div>
      <div class="col-12 text-center">
        <p id="footer-copyright">©TicketTrade {{ footerYear }}</p>
      </div>
    </div>
  </div>
</footer>
