<main>
  <div class="container">
    <div class="row">
      <div class="col-12 my-5 p-5 grey-bg boxing-shadow">
        <div class="row">
          <div class="col-12">
            <h1 class="mb-4">
              <span class="title-blue">TicketTrade</span> de casus
            </h1>
            <p class="mb-5">
              TicketTrade is een zelfbedachte casus door Sybrand Bos, student
              aan de Avans Hogeschool. TicketTrade is een platform waar fans
              kaartjes kunnen kopen voor concerten van hun favoriete concerten,
              naast dat biedt TicketTrade ook een sociaal aspect aan, zo kun je
              een account registreren op het platform en kun je vrienden volgen
              die ook een account hebben op het platform. Met dit sociale aspect
              onderscheidt TicketTrade zich van andere ticket sites. Als je
              vrienden volgt op het platform krijg jij meldingen als vrienden
              een ticket hebben gekocht voor een bepaald concert.
            </p>
          </div>
          <div class="col-12 d-none d-lg-inline">
            <lib-ngx-image-zoom
              [thumbImage]="myThumbnail"
              [fullImage]="myFullresImage"
              [magnification]="1"
              [enableScrollZoom]="true"
              [enableLens]="true"
              [lensWidth]="200"
              [lensHeight]="200"
            ></lib-ngx-image-zoom>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
