<main>
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 p-5 grey-bg boxing-shadow">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h1 class="mb-4">
                                    <span class="title-blue">TicketTrade</span> de casus
                                </h1>
                            </div>
                            <div class="col-12 col-md-3 info-card">
                                <h2 class="mb-0 mt-2">Sybrand Bos</h2>
                                <p>Studentnummer: 2183391</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            TicketTrade is een zelfbedachte casus door Sybrand Bos, student aan de Avans Hogeschool. TicketTrade is een platform waar fans kaartjes kunnen kopen voor concerten van hun favoriete concerten.
                        </p>
                        <p>
                            Naast dat biedt TicketTrade ook een sociaal aspect aan, zo kun je een account registreren op het platform en kun je vrienden volgen die ook een account hebben op het platform. Met dit sociale aspect onderscheidt TicketTrade zich van andere ticket sites.
                        </p>
                        <p>
                            Als je vrienden volgt op het platform krijg jij meldingen als vrienden een ticket hebben gekocht voor een bepaald concert. Ook krijg je aanbevelingen van artiesten die jouw vrienden ook volgen gebaseerd op matchende genres.
                        </p>
                    </div>
                    <div class="col-12 d-none d-lg-flex justify-content-center">
                        <lib-ngx-image-zoom [thumbImage]="myThumbnail" [fullImage]="myFullresImage" [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="200" [lensHeight]="200"></lib-ngx-image-zoom>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-striped custom-table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th scope="col">User stories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Als gebruiker wil ik optredens zien die bij mij in de buurt plaatsvinden.</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Als gebruiker wil ik een kaartje kunnen kopen voor een optreden.</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Als gebruiker wil ik een overzicht zien van mijn gekochte kaartjes.</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Als gebruiker wil ik artiesten kunnen volgen en vrienden.</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Als gebruiker wil ik aanbevelingen krijgen voor optredens op basis van gevolgde vrienden, artiesten en mijn woonplaats.</td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td>Als gebruiker wil ik artiesten aanbevelingen krijgen op basis van al gevolgde artiesten of van gevolgde vrienden.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3 text-center">
                                <h2 class="mb-0 mt-2">Concert</h2>
                                <hr class="solid">
                                <p>id: string</p>
                                <p>name: string</p>
                                <p>description: string</p>
                                <p>startDateTime: Date</p>
                                <p>endDateTime: Date</p>
                                <p>location: string</p>
                                <p>artist: string</p>
                                <p>price: number</p>
                                <p>amountTickets: number</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>