<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-5 col-lg-7 col-xl-9 d-none d-sm-inline login-landing">
            <span class="h-100 w-100 login-landing-span"></span>
        </div>
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-3 px-4 d-flex flex-column justify-content-center account-form">
            <h1 class="title-white-colored">Wachtwoord Wijzigen</h1>
            <mat-card>
              <mat-card-content>
                <form id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                  <mat-form-field appearance="fill">
                    <mat-label>Huidig Wachtwoord</mat-label>
                    <input matInput formControlName="currentPassword" type="password" />
                    <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
                      Huidig wachtwoord is verplicht.
                    </mat-error>
                  </mat-form-field>
                
                  <mat-divider class="my-2"></mat-divider>
                
                  <mat-form-field appearance="fill">
                    <mat-label>Nieuw Wachtwoord</mat-label>
                    <input matInput formControlName="newPassword" type="password" />
                    <mat-hint class="my-3">
                        Het wachtwoord moet minimaal 8 tekens lang zijn, 1 hoofdletter, 1 kleine letter, 1 cijfer en 1 speciaal teken bevatten.
                    </mat-hint>
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
                      {{ passwordErrorMessage }}
                    </mat-error>
                  </mat-form-field>
                
                  <mat-form-field appearance="fill">
                    <mat-label>Herhaal Nieuw Wachtwoord</mat-label>
                    <input matInput formControlName="confirmNewPassword" type="password" />
                    <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.errors">
                      <ng-container *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">
                        Herhaal Nieuw Wachtwoord is verplicht.
                      </ng-container>
                      <ng-container *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('passwordMismatch')">
                        Wachtwoorden komen niet overeen.
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                
                  <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                  </div>
                
                  <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
                    Wachtwoord Wijzigen
                  </button>
                </form>
                
              </mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>